.Grid {
    min-width: var(--grid-width);
    min-height: var(--grid-height);
    border: var(--grid-spacing) solid #cccccc;
    margin: var(--grid-spacing);

    display: inline-grid;
    grid-auto-flow: column;
    gap: var(--grid-spacing);
    padding: var(--grid-spacing);

    --tilt: 45deg;
    --twist: 0deg;
    --ntilt: calc(var(--tilt) * -1);
    --ntwist: calc(var(--twist) * -1);

    transform: rotateX(var(--tilt)) rotateZ(var(--twist));
    transform-style: preserve-3d;
}