.Grid {
    min-width: 24px;
    min-height: 24px;
    border: 4px solid #cccccc;
    margin: 4px;

    display: inline-grid;
    grid-auto-flow: column;
    gap: 4px;
    padding: 4px;

    --tilt: 45deg;
    --twist: 0deg;
    --ntilt: calc(var(--tilt) * -1);
    --ntwist: calc(var(--twist) * -1);

    transform: rotateX(var(--tilt)) rotateZ(var(--twist));
    transform-style: preserve-3d;
}