.GridCell {
    position: relative;
    width: var(--grid-width);
    height: var(--grid-height);
    text-align: center;
    font-size: 10px;
    text-align: center;

    user-select: none;
    transform-style: preserve-3d;
    background-size: cover;
    image-rendering: pixelated;

    background-image: url(../../images/grass8.jpg);
}

.GridCell.type-0 {
    background-color: var(--light);
    color: var(--dark);
}

.GridCell.type-1 {
    filter: hue-rotate(-100deg);
}
